/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Fonts */

/* Variables */
:root {
  --default-animation: "fadeIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1";
  --default-animation-reverse: "fadeIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 reverse";
  --score-animation: "fadeScoreIn 1.5s 3.25s forwards";
}

/* Colors */
/* https://perceptualpalettes.alexdunn.au/?c=Brand%2397ead2%2CSecondary%234b2142%2CTertiary%2374226c%2CNeutral%23816e94&l=90%2C80%2C70%2C60%2C35%2C21%2C12%2C6%2C2%2C1%2C0.5&n=false&i=true */
:root {
  --brand-050: #e1f9f2;
  --brand-100: #bef2e3;
  --brand-200: #97ead2;
  --brand-300: #8ddac4;
  --brand-400: #6fab9a;
  --brand-500: #58887a;
  --brand-600: #43685e;
  --brand-700: #304b43;
  --brand-800: #1b2a25;
  --brand-900: #121b19;
  --brand-950: #0b110f;
  --secondary-050: #f5f3f5;
  --secondary-100: #ebe6ea;
  --secondary-200: #dfd8de;
  --secondary-300: #d3c9d1;
  --secondary-400: #ad9aa9;
  --secondary-500: #91778b;
  --secondary-600: #775770;
  --secondary-700: #5e3956;
  --secondary-800: #3c1b35;
  --secondary-900: #281223;
  --secondary-950: #190b16;
  --tertiary-050: #f7f2f6;
  --tertiary-100: #eee4ed;
  --tertiary-200: #e5d5e3;
  --tertiary-300: #dbc5d9;
  --tertiary-400: #bb93b7;
  --tertiary-500: #a36c9d;
  --tertiary-600: #8c4886;
  --tertiary-700: #74236c;
  --tertiary-800: #42133e;
  --tertiary-900: #2d0d29;
  --tertiary-950: #1c081a;
  --neutral-050: #f4f3f6;
  --neutral-100: #e9e6ed;
  --neutral-200: #ddd8e2;
  --neutral-300: #d0c9d7;
  --neutral-400: #a89bb5;
  --neutral-500: #89779b;
  --neutral-600: #6b5b7a;
  --neutral-700: #4c4157;
  --neutral-800: #2b2431;
  --neutral-900: #1c1820;
  --neutral-950: #110f14;
}

:root {
  --color-background-brand: var(--brand-200);
  --color-text-brand: var(--brand-700);
  --color-background-secondary: var(--secondary-200);
  --color-text-secondary: var(--secondary-700);
  --color-background-tertiary: var(--tertiary-200);
  --color-text-tertiary: var(--tertiary-700);
  --color-background-neutral: var(--neutral-200);
  --color-text-neutral: var(--neutral-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-brand: var(--brand-700);
    --color-text-brand: var(--brand-300);
    --color-background-secondary: var(--secondary-700);
    --color-text-secondary: var(--secondary-300);
    --color-background-tertiary: var(--tertiary-700);
    --color-text-tertiary: var(--tertiary-300);
    --color-background-neutral: var(--neutral-700);
    --color-text-neutral: var(--neutral-300);
  }
}

/* Page */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.score {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  /* align-items: center; */
  align-content: center;
}

.score .score-cell {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
}

.score .score-heading {
  text-align: center;
}

.border-vertical {
  background-color: blue;
  min-width: 5px;
  margin: 10px 5px 10px;
}

.game {
  display: none;
  flex-direction: column;
  flex: 3;
}

.display-screen {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: red;
}

.display-screen .title {
  opacity: 0;
}

.display-screen .message {
  opacity: 0;
}

.user-input-box {
  opacity: 0;
}

.show {
  display: flex;
  animation: fadeIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hide {
  display: none;
  animation: fadeIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 reverse;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.game [class^="row"] {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  /* gap: 0.05fr; */
  flex: 1;
}

.game [class^="cell"] {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  align-content: stretch;
  background-color: red;
  border: 1px black solid;
  margin: 1px;
}

.footer {
  display: flex;
  max-height: 100px;
}

/* CSS for the animated circle */
/* https://codepen.io/peeke/pen/BjxXZa */
.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

/* Score Animations */
/* https://codepen.io/keenanpayne/pen/mxjGmo */
@keyframes rotateTextUp {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fadeScoreIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }

  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
